.firstSection {
  height: 798px;
  background-image: url("../../img/uber_bg.png");
  background-repeat: no-repeat;
  background-position: center;
}

.subHeader {
  background-color: #00000075;
  height: 87px; 
}

.logo h5 {
  color: #fff;
  margin: 4px;
  font-weight: 100;
}

.buttonBlock {
  display: flex;
}

.buttonBlock button, button {
  width: 172px;
  height: 46px;
  background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}

.buttonText {
  color: #fff;
  text-align: right;
  margin-right: 32px;
  font-weight: 100;
}

.buttonText p {  
  margin: 0;
}

.buttonText h3 {
  margin: 10px 0;
  font-weight: 400;
  
}

.container.firstBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 87px;
}

.firstSectionText {
  max-width: 1029px;
  margin: 0 auto;
  text-align: center;
}

.firstSectionText h1{
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  line-height: 24px;
}

.firstSectionText h2 {
  color: #fff;
}

.firstSectionText p {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  
}

.sendButton {
  margin-top: 100px;
  text-align: center;
}